/USPublicHealthProfilesLibrary.zip
/eCR_structuredefinition
/structuredefinition
/old_input
/_structuredefinition
/20220721input/resources/structuredefinition
/20220721input/resources/organization
/20220721input
