canonical: http://hl7.org/fhir/us/ph-library
title: "US Public Health Profiles Library"
releaseLabel: STU 2
fhirVersion: 4.0.1
FSHOnly: false
applyExtensionMetadataToRoot: true
id: hl7.fhir.us.ph-library
name: USPublicHealthProfilesLibrary
description: "The US Public Health Profiles Library (USPHPL) is a collection of reusable architecture and content profiles representing common public health concepts and patterns."
status: active
version: 2.0.0
copyrightYear: 2025+
publisher:
  name: HL7 International / Public Health
  url: http://www.hl7.org/Special/committees/pher
  email: pher@lists.HL7.org
extension:
  - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-wg
    valueCode: pher
  - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-standards-status
    valueCode: trial-use
  - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-fmm
    valueInteger: 3
jurisdiction: urn:iso:std:iso:3166#US

dependencies:
  hl7.fhir.extensions.r5: 4.0.1
  hl7.fhir.us.core:
    version: 6.1.0
    uri: http://hl7.org/fhir/us/core/ImplementationGuide/hl7.fhir.us.core
    id: hl7fhiruscore
  us.cdc.phinvads:
    version: 0.12.0
    uri: https://phinvads.cdc.gov/vads/fhir/ImplementationGuide/us.cdc.phinvads
    id: uscdcphinvads
  us.nlm.vsac:
    version: 0.24.0
    uri: http://fhir.org/packages/us.nlm.vsac/ImplementationGuide/us.nlm.vsac
    id: usnlmvsac
  hl7.fhir.uv.crmi:
    version: 1.0.0
    uri: http://hl7.org/fhir/uv/crmi/ImplementationGuide/hl7.fhir.uv.crmi
    id: hl7fhiruvcrmi
  hl7.fhir.uv.cql:
    version: 2.0.0
    uri: http://hl7.org/fhir/uv/cql/ImplementationGuide/hl7.fhir.uv.cql
    id: hl7fhiruvcql
  hl7.fhir.uv.fhir-clinical-document:
    version: current
    uri: http://hl7.org/fhir/uv/fhir-clinical-document/ImplementationGuide/hl7.fhir.uv.fhir-clinical-document
    id: hl7fhiruvfhirclinicaldocument

parameters:
  show-inherited-invariants: false
  path-binary: 'input/cql'
  path-expansion-params: '../../input/Parameters-expansion-parameters-us-ph.json'  #path is relative to [base]/fsh-generated/resources
  auto-oid-root: 2.16.840.1.113883.4.642.40.58
  pin-canonicals: pin-multiples
  special-url:
    - http://example.org/fhir/CodeSystem/us-ph-codesystem-properties-example
    - http://example.org/fhir/CodeSystem/us-ph-codesystem-endpoint-connection-type-example
    - http://example.org/fhir/CodeSystem/us-ph-codesystem-jurisdictions-example
    - http://example.org/fhir/CodeSystem/us-ph-codesystem-jurisdiction-types-example

license: CC0-1.0

pages:
  index.md:
    title: Home Page
  guidance.md:
    title: Guidance
  mapping.md:
    title: Mappings
  artifact-overview.md:
    title: Artifacts Overview
  downloads.md:
    title: Downloads
  change-log.md:
    title: Change Log

menu:
  IG Home: index.html
  Guidance: guidance.html
  Mapping: mapping.html
  Artifacts:
    Artifacts Overview: artifact-overview.html
    Artifacts Summary: artifacts.html
  Downloads: downloads.html
  Change Log: change-log.html

